<div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 mx-auto text-center">
                <h1 class="text-white">All Teams</h1>
            </div>
        </div>
    </div>
</div>
<div class="row" >
    <div class="col-lg-6  " *ngFor="let t of teamsTab" >
        <div class="custom-media d-flex " >
            <div class="img mb-4">
                <a href="single.html"><img src="assets/images/imageslogo.jpg" alt="Image" class="img-fluid"></a>
            </div>
            <div class="text" style="margin-left: 50px;">
                <p>name: {{t.name}} </p>
                <p>owner: {{t.owner}}</p>
                <p>foundation: {{t.foundation}} </p>
            </div>
        </div>
    </div>
</div>
