<table class="table text-center">
    <thead>
      <tr >
        <th scope="col">ID</th>
        <th scope="col">score one</th>
        <th scope="col">score two</th>
        <th scope="col">team one</th>
        <th scope="col">team two</th>
        <th scope="col">Resultat</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let m of matchesTab">
        <td >{{m._id}}</td>
        <td>{{m.scoreOne}}</td>
        <td>{{m.scoreTwo}}</td>
        <td [ngStyle]="{color:resultColor(m.scoreOne,m.scoreTwo)}">{{m.teamOne}}</td>
        <td [ngStyle]="{color:resultColor(m.scoreTwo,m.scoreOne)}">{{m.teamTwo}}</td>
        <td ><span [ngClass]="{wins:m.scoreOne>m.scoreTwo,
                              loses:m.scoreOne<m.scoreTwo,
                              draws:m.scoreOne==m.scoreTwo }" >{{resultatTeam(m.scoreOne,m.scoreTwo,m.teamOne)}} </span><span> {{afficheTeam(m.scoreOne,m.scoreTwo)}}</span>
        </td>
        <td>
          <button type="button" class="btn btn-success" (click)="goToInfo(m._id)">Display</button>
          <button type="button" class="btn btn-info" (click)="goToEdit(m._id)">Edit</button>
          <button type="button" class="btn btn-danger" (click)="deleteMatch(m._id)">Delete</button>
        </td>
      </tr>

    </tbody>
  </table>
